#navbar {
    border: 1px solid green;
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;


}
#navbar2 {
    border: 1px solid green;
    text-align: center; 
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;

}
#videos{
    
    align-items: center;
}
/* #p1{
    
    text-align: center; 
    
}  */
*{
    margin-left:30px;
    margin-right:30px;
}